@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

::-webkit-scrollbar {
  display: none;
}

html {
  @apply text-black;
  --collapsed-side-bar-width: 96px;
  --expanded-side-bar-width: 24vw;
}

body {
  @apply bg-background;
  min-width: 100vw;
}

@layer base {
  :root {
    --background: #171717;
    --sidebar: #171717;
    --container: #1d1d1d;
    --foreground: #d4d4d4;
    --border: color-mix(in srgb, var(--primary) 35%, var(--background));
    --primary: #c084fc;
    --primary-foreground: #000000;
    --muted-foreground: #999999;
    --destructive-foreground: #000000;
    --input: #000000;
    --card-foreground: #000000;
    --popover: #1d1d1d;
    --popover-foreground: #d4d4d4;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.popup {
  animation: popup-in-out 3s forwards;
}

@keyframes popup-in-out {
  0% {
    transform: translateY(400px);
  }

  10% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(400px);
  }
}

.tiptap {
  @apply text-sm;
  @apply md:text-base;
  outline: none;
}

.tiptap>p>a {
  color: var(--primary);
  text-decoration: underline;
}

.tiptap>p>span[data-type="mention"] {
  color: var(--primary);
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--muted-foreground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}