@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
}

body {
  @apply bg-gray-800;
}

select {
  font-size: 0px;
  height: 20px;
  width: 20px;
  @apply bg-main3;
  background-image: url("/open-menu.png");
  background-position: center;
  background-size: contain;
  cursor: pointer;
  outline: none;
}

option {
  @apply text-base;
}

* {
  user-select: none;
  overflow-x: hidden;
}

.insertion-point {
  height: 1rem;
  width: 1px;
  background-color: black;
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
